extends /layouts/main

block styles
	link(rel="stylesheet", href=asset("/css/estilos.css"))
	link(rel="stylesheet", href=asset("/css/pages.css"))
	script(src=asset("/js/jquery-3.2.1.js"))
	script(src=asset("/js/script.js"))
	//- script(src=asset("/js/jquery-3.2.1.js"))
block content
	div(class="container")
		ul(class="breadcrumbs")
			li(class="page-item")
				a(href="/" class="page-link") Inicio
			li(class="page-item")
				a(href="/outlet" class="page-link") Outlet
		div(class="wrap")
			div(class="store-wrapper")
				div(class="category_list")
					a(href="#" class="category_item" category="descuento") DESCUENTO
					a(href="#" class="category_item" category="hombre") Hombre
					a(href="#" class="category_item" category="mujer") Mujer
					a(href="#" class="category_item" category="tipo") TIPO
					a(href="#" class="category_item" category="marca") MARCA
					a(href="#" class="category_item" category="futbol") FÚTBOL
					a(href="#" class="category_item" category="nfl") NFL
					a(href="#" class="category_item" category="baseball") BASEBALL
				section(class="products-list")


					div(class="product-item" category="hombre")
						span(id="cosito") Hombre
						img(src="/img_innova/Deportes/deportes-01.jpg", alt="OLV")
						div(class="container")
							div(id="description") Chamarra Nike barselona
							b(id="brand") NIKE
							div(id="price") $1,499.00
					

					div(class="product-item" category="hombre")
						span(id="cosito") Hombre
						img(src="/img_innova/Deportes/deportes-02.jpg", alt="OLV")
						div(class="container")
							div(id="description") Chamarra Nike paris
							b(id="brand") NIKE
							div(id="price") $1,499.00
						

					div(class="product-item" category="hombre")
						span(id="cosito") Hombre
						img(src="/img_innova/Deportes/deportes-03.jpg", alt="OLV")
						div(class="container")
							div(id="description") Chamarra Nike barselona
							b(id="brand") NIKE
							div(id="price") $1,599.00
			
		
					div(class="product-item" category="mujer")
						span(id="cosito") Mujer
						img(src="/img_innova/Deportes/deportes-04.jpg", alt="OLV")
						div(class="container")
							div(id="description") Playera nike 
							b(id="brand") NIKE
							div(id="price") $449.00


					div(class="product-item" category="hombre")
						span(id="cosito") Hombre
						img(src="/img_innova/Deportes/deportes-05.jpg", alt="OLV")
						div(class="container")
							div(id="description") Chamarra nike paris
							b(id="brand") NIKE
							div(id="price") $1,200.00

					
					div(class="product-item" category="hombre")
						span(id="cosito") Honbre
						img(src="/img_innova/Deportes/deportes-06.jpg", alt="OLV")
						div(class="container")
							div(id="description") sudadera nike barcelona 
							b(id="brand") NIKE
							div(id="price") $1,007.44

					
					div(class="product-item" category="descuento")
						span(id="cosito") DESCUENTO
						img(src="/img_innova/Deportes/deportes-07.jpg", alt="OLV")
						div(class="container")
							div(id="description") Conjunto adidas tiberio
							b(id="brand") Adidas
							div(id="price") $1,199.00

					
					div(class="product-item" category="descuento")
						span(id="cosito") DESCUENTO
						img(src="/img_innova/Deportes/deportes-08.jpg", alt="OLV")
						div(class="container")
							div(id="description") TISHATSU RUNNER KNIT PS
							b(id="brand") PUMA
							div(class="old-price")
								span $769.30
								span(class="icon") 20%
							div(id="price") $615.44

					
					div(class="product-item" category="mujer")
						span(id="cosito") Mujer
						img(src="/img_innova/Deportes/deportes-09.jpg", alt="OLV")
						div(class="container")
							div(id="description") Conjunto ADIDAS azul 
							b(id="brand") ADIDAS
							div(id="price") $1,447.44
						
		
					div(class="product-item" category="mujer")
						span(id="cosito") Mujer
						img(src="/img_innova/Deportes/deportes-10.jpg", alt="OLV")
						div(class="container")
							div(id="description") Chamarra puma negra
							b(id="brand") Puma
							div(id="price") $1,399.00


					div(class="product-item" category="hombre")
						span(id="cosito") Hombre
						img(src="/img_innova/Deportes/deportes-11.jpg", alt="OLV")
						div(class="container")
							div(id="description") Jersey nike patriots 
							b(id="brand") NIKE
							div(class="old-price")
								span $699.00
								span(class="icon") 30%
							div(id="price") $489.30


					div(class="product-item" category="descuento")
						span(id="cosito") DESCUENTO
						img(src="/img_innova/Deportes/deportes-12.jpg", alt="OLV")
						div(class="container")
							div(id="description") SHORT PUMA PACE NOVELTY 
							b(id="brand") PUMA
							div(class="old-price")
								span $769.30
								span(class="icon") 20%
							div(id="price") $615.44

						
		

