extends /layouts/main

block styles
	link(rel="stylesheet", href=asset("/css/estilos.css"))
block content
	div(class="container")
		ul(class="breadcrumbs")
			li(class="page-item")
				a(href="/" class="page-link") Inicio
			li(class="page-item")
				a(href="/Hombre" class="page-link") Seccion de Hombres
	div(class="wrap")
		div(class="store-wrapper")
			div(class="category_list")
				a(href="#" class="category_item" category="all") Todo
				a(href="#" class="category_item" category="Variedad") VARIEDAD
				a(href="#" class="category_item" category="Gorras") GORRAS
				a(href="#" class="category_item" category="Tenis") TENIS
				a(href="#" class="category_item" category="baseball") BASEBALL
			
			section(class="products-list")
				div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/1.jpg") , alt="OLV")
					div(class="container")
<<<<<<< HEAD
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
				div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
				div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/3.jpg"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
				div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/4.jpg"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
				div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/5.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
				div(class="product-item" category="baseball")
					img(src=asset("/img_innova/Hombres/6.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
				div(class="product-item" category="baseball")
					img(src=asset("/img_innova/Hombres/7.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
				div(class="product-item" category="baseball")
					img(src=asset("/img_innova/Hombres/8.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/9.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/10.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/11.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/12.png"), alt="OLV")
					div(class="container")
							div(id="description") GORRA 
							b(id="brand") Adidas
							div(id="price") $299.00
                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/13.png"), alt="OLV")
					div(class="container")
							div(id="description") GORRA 
							b(id="brand") Adidas
							div(id="price") $259.00
                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/g1.png"), alt="OLV")
					div(class="container")
							div(id="description") GORRA 
							b(id="brand") Adidas
							div(id="price") $199.00
                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/g2.png"), alt="OLV")
					div(class="container")
							div(id="description") GORRA 
							b(id="brand") Adidas
							div(id="price") $159.00
                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/g3.png"), alt="OLV")
					div(class="container")
							div(id="description") GORRA 
							b(id="brand") Adidas
							div(id="price") $359.00
                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/g4.png"), alt="OLV")
					div(class="container")
							div(id="description") GORRA 
							b(id="brand") Adidas
							div(id="price") $250.00
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z1.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z2.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z3.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z4.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z5.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z6.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z7.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z8.png"), alt="OLV")
					div(class="container")
							div(id="description") MOCHILA ADIDAS 
							b(id="brand") Adidas
							div(id="price") $699.00
=======
							div(id="description") sudadera 
							b(id="brand") Adidas
							div(id="price") $699.00

				div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					div(class="container")
							div(id="description") Sudadera
							b(id="brand") NIKE
							div(id="price") $699.00

				div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/3.jpg"), alt="OLV")
					div(class="container")
							div(id="description") NIKE
							b(id="brand") NIKE
							div(id="price") $899.00

				div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/4.jpg"), alt="OLV")
					div(class="container")
							div(id="description") JERSEY 
							b(id="brand") NIKE
							div(id="price") $699.00

				div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/5.png"), alt="OLV")
					div(class="container")
							div(id="description") JERSEY 
							b(id="brand") NIKE
							div(id="price") $999.00

				div(class="product-item" category="baseball")
					img(src=asset("/img_innova/Hombres/6.png"), alt="OLV")
					div(class="container")
							div(id="description") JERSEY 
							b(id="brand") Sultanes
							div(id="price") $899.00

				div(class="product-item" category="baseball")
					img(src=asset("/img_innova/Hombres/7.png"), alt="OLV")
					.div(class="container")
							div(id="description") JERSEY 
							b(id="brand") Sultanes
							div(id="price") $899.00

				div(class="product-item" category="baseball")
					img(src=asset("/img_innova/Hombres/8.png"), alt="OLV")
					div(class="container")
							div(id="description") JERSEY 
							b(id="brand") Sultanes
							div(id="price") $899.00

                div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/9.png"), alt="OLV")
					div(class="container")
							div(id="description") Sudadera
							b(id="brand") Nike
							div(id="price") $1,599.00
                div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/10.png"), alt="OLV")
					div(class="container")
							div(id="description") Playera
							b(id="brand") Innova
							div(id="price") $299.00

                div(class="product-item" category="Variedad")
					img(src=asset("/img_innova/Hombres/11.png"), alt="OLV")
					div(class="container")
							div(id="description") playera
							b(id="brand") Innova
							div(id="price") $259.00

                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/12.png"), alt="OLV")
					div(class="container")
							div(id="description") Gorra
							b(id="brand") Lakers
							div(id="price") $599.00

                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/13.png"), alt="OLV")
					div(class="container")
							div(id="description") Gorra
							b(id="brand") warriors
							div(id="price") $599.00

                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/g1.png"), alt="OLV")
					div(class="container")
							div(id="description") Gorra
							b(id="brand") Lakers
							div(id="price") $599.00

                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/g2.png"), alt="OLV")
					div(class="container")
							div(id="description") Gorra
							b(id="brand") chicago
							div(id="price") $599.00

                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/g3.png"), alt="OLV")
					div(class="container")
							div(id="description") Gorra
							b(id="brand") LA
							div(id="price") $599.00

                div(class="product-item" category="Gorras")
					img(src=asset("/img_innova/Hombres/g4.png"), alt="OLV")
					div(class="container")
							div(id="description") Gorra
							b(id="brand") Adidas
							div(id="price") $599.00

                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z1.png"), alt="OLV")
					div(class="container")
							div(id="description") TENIS 
							b(id="brand") Reebook
							div(id="price")$1,299.00

                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z2.png"), alt="OLV")
					div(class="container")
							div(id="description") TENIS 
							b(id="brand") Reebook
							div(id="price")$1,299.00

                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z3.png"), alt="OLV")
					div(class="container")
							div(id="description") TENIS 
							b(id="brand") Reebook
							div(id="price")$1,299.00
							
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z4.png"), alt="OLV")
					div(class="container")
							div(id="description") TENIS 
							b(id="brand") Reebook
							div(id="price")$1,459.00

                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z5.png"), alt="OLV")
					div(class="container")
							div(id="description") TENIS 
							b(id="brand") Nike
							div(id="price")$1,699.00

                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z6.png"), alt="OLV")
					div(class="container")
							div(id="description") TENIS 
							b(id="brand") Reebook
							div(id="price")$1,899.00

                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z7.png"), alt="OLV")
					div(class="container")
							div(id="description") TENIS 
							b(id="brand") Reebook
							div(id="price")$1,499.00

                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/Hombres/z8.png"), alt="OLV")
					div(class="container")
							div(id="description") TENIS 
							b(id="brand") Reebook
							div(id="price")$2,299.00
>>>>>>> 2578b1243f90ad00e53b8af1373763a8e7b7c064
