extends /layouts/main

block styles
    style(type="text/css").
           .row.lead.garantias,
           .carousel-div{
	        border-top:3px solid #DDD;
	        border-bottom:3px solid #DDD;
	        padding: 20px 0;
	        margin-bottom: 15px;
	        margin-top: 20px;
           }
           @media (max-width: 768px){
           	.row.lead.garantias .col-sm-4{
               	font-size: 20px;
               	margin: 10px 0;
           	}
           }
           
block content
    div(class="container-fluid")
        div(class="row")
            div(class="cell-12")
                div(data-role="carousel"
                    data-height="350px"
                    data-auto-start="true"
                    data-cls-controls="fg-white"
                    data-bullets-position="right"
                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>"
                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>")
                        div(class="slide" data-cover=asset("/img_innova/img_carousel.jpg"))
                        div(class="slide" data-cover=asset("/img_innova/desk_2.jpg"))
                        div(class="slide" data-cover=asset("/img_innova/desk_3.jpg"))
                        div(class="slide" data-cover=asset("/img_innova/desk_4.jpg"))

    div(class="content fg-gray d-block-edge" style= {'font-size':'22px'})
        div(class="container-fluid")
            div(class="row lead garantias")
                div(class="cell-sm-4 text-center") #[span(class="mif-lock")] Tu compra es #[b 100% segura]
                div(class="cell-sm-4 text-center") #[span(class="mif-truck")] Envío Gratis #[b a todo México]
                div(class="cell-sm-4 text-center") #[span(class="mif-navigation")] Compra en Línea, Envía y Recoge en tienda
    div(class="container-fluid pr-10 pl-10")
        div(class="row")
            div(class='cell-sm-8')
                img(height="413px" width="100%" src=asset("/img_innova/desk_main_1.jpg"))
            div(class="cell-sm-4")
                img(height="413px" width="100%" src=asset("/img_innova/desk_main_2.jpg"))
        div(class="row")
            div(class='cell-sm-4')
                img(height="413px" width="100%" src=asset("/img_innova/desk_main_3.jpg"))
            div(class='cell-sm-4')
                img(height="413px" width="100%" src=asset("/img_innova/desk_main_4.jpg"))
            div(class='cell-sm-4')
                img(height="413px" width="100%" src=asset("/img_innova/desk_main5.jpg"))
    div(class="container-fluid pr-10 pl-10")
        div(class="row")
                div(class="cell-12" style={'border-top':'3px solid #DDD','border-bottom':'3px solid #DDD','margin-bottom':'22px', 'margin-top':'50px', 'padding-top':'20px'})
                    div(class="text-center" style={color:'#bd2211', 'font-size':'22px', 'margin': '10px 0 20px'}) TE RECOMENDAMOS
                    img(src=asset("/img_innova/img_descuento.jpg") height="256px" width="100%")
                                
    div(class="container-fluid pr-10 pl-10")
        div(class="row")
            div(class="cell-12" style={'border-top':'3px solid #DDD','border-bottom':'3px solid #DDD','margin-bottom':'22px', 'margin-top':'50px', 'padding-top':'20px'})
                div(class="text-center" style={color:'#bd2211', 'font-size':'22px', 'margin': '10px 0 20px'}) MARCAS
                img(src=asset("/img_innova/imagen_promocion_innovasport.jpg") height="256px" width="100%")