extends /layouts/main

block styles
	link(rel="stylesheet", href=asset("/css/estilos.css"))
	script(src=asset("/js/jquery-3.2.1.js"))
	script(src=asset("/js/script.js"))
	//- script(src=asset("/js/jquery-3.2.1.js"))
block content
	div(class="container")
		ul(class="breadcrumbs")
			li(class="page-item")
				a(href="/" class="page-link") Inicio
			li(class="page-item")
				a(href="#" class="page-link") Jerseys Oficiales
	table(class="table" data-role="table" data-pagination-short-mode="true")
		div(class="wrap")
			div(class="store-wrapper")
				div(class="category_list")
					a(href="#" class="category_item" category="all") TODO
					a(href="#" class="category_item" category="futbol") FÚTBOL
					a(href="#" class="category_item" category="nfl") NFL
					a(href="#" class="category_item" category="baseball") BASEBALL
				section(class="products-list")
					div(class="product-item" category="futbol")
						span(id="cosito") HOMBRE
						img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
						div(class="container")
							div(id="description") Jersey Nike Boca Juniors Local
							b(id="brand") NIKE
							div(id="price") $1,200.00
					div(class="product-item" category="futbol")
						span(id="cosito") HOMBRE
						img(src="/img_innova/Hombres/14.jpg", alt="OLV")
						div(class="container")
							div(id="description") Jersey Charly Santos Local
							b(id="brand") CHARLY
							div(id="price") $1,200.00
					div(class="product-item" category="futbol")
						span(id="cosito") HOMBRE
						img(src="/img_innova/Hombres/16.jpg", alt="OLV")
						div(class="container")
							div(id="description") Jersey Veracruz Visita
							b(id="brand") CHARLY
							div(id="price") $959.20
			
		
					div(class="product-item" category="futbol")
						span(id="cosito") MUJER
						img(src="/img_innova/Mujeres/4.jpg", alt="OLV")
						div(class="container")
							div(id="description") Jersey Dorados Local
							b(id="brand") CHARLY
							div(class="old-price")
								span $899.00
								span(class="icon") 20%
							div(id="price") $719.20


					div(class="product-item" category="")
						img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
						a(href="#") POSER
					div(class="product-item" category="baseball")
						img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
						a(href="#") POSER
					div(class="product-item" category="baseball")
						img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
						a(href="#") POSER
					div(class="product-item" category="futbol")
						span(id="cosito") MUJER
						img(src="/img_innova/Mujeres/3.jpg", alt="OLV")
						div(class="container")
							div(id="description") Jersey Veracruz Local
							b(id="brand") CHARLY
							div(id="price") $879.20
					div(class="product-item" category="baseball")
						img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
						a(href="#") POSER
