extends /layouts/main

block styles
	link(rel="stylesheet", href=asset("/css/estilos.css"))
	//- script(src=asset("/js/jquery-3.2.1.js"))
	script(src=asset("/js/script.js"))
block content
	div(class="container")
		ul(class="breadcrumbs")
			li(class="page-item")
				a(href="/" class="page-link") Inicio
			li(class="page-item")
				a(href="/ninas" class="page-link") Niños Oficiales
	div(class="wrap")
		div(class="store-wrapper")
			div(class="category_list")
				a(href="#" class="category_item" category=" Mochilas") Mochilas
				a(href="#" class="category_item" category="Nataciòn") Nataciòn
				a(href="#" class="category_item" category="Tenis") Tenis
				a(href="#" class="category_item" category="LEGGING") Legging
                a(href="#" class="category_item" category="Calcetas") Calcetas 
			section(class="products-list")
				div(class="product-item" category="Mochilas")
					img(src=asset("/img_innova/ninas/1moch.jpg") , alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="Mochilas")
					img(src=asset("/img_innova/ninas/2moch.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="Mochilas")
					img(src=asset("/img_innova/ninas/3moch.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="Mochilas")
					img(src=asset("/img_innova/ninas/4moch.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="Nataciòn")
					img(src=asset("/img_innova/ninas/1nat.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="Nataciòn")
					img(src=asset("/img_innova/ninas/2nat.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="Nataciòn")
					img(src=asset("/img_innova/ninas/3nat.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="Nataciòn")
					img(src=asset("/img_innova/ninas/4nat.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/ninas/1beb.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/ninas/2beb.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/ninas/3beb.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="Tenis")
					img(src=asset("/img_innova/ninas/4beb.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="LEGGING")
					img(src=asset("/img_innova/ninas/1LEGGING.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="LEGGING")
					img(src=asset("/img_innova/ninas/2LEGGING.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="LEGGING")
					img(src=asset("/img_innova/ninas/3LEGGING.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="Calcetas")
					img(src=asset("/img_innova/ninas/4Calcetas.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="Calcetas")
					img(src=asset("/img_innova/ninas/1Calcetas.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="Calcetas")
					img(src=asset("/img_innova/ninas/2Calcetas.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="Calcetas")
					img(src=asset("/img_innova/ninas/3Calcetas.jpg"), alt="OLV")
					a(href="#") POSER
                div(class="product-item" category="Calcetas")
					img(src=asset("/img_innova/ninas/5Calcetas.jpg"), alt="OLV")
					a(href="#") POSER
               
               