extends /layouts/main

block styles
	link(rel="stylesheet", href=asset("/css/estilos.css"))
	//- script(src=asset("/js/jquery-3.2.1.js"))
	script(src=asset("/js/script.js"))
block content
	div(class="container")
		ul(class="breadcrumbs")
			li(class="page-item")
				a(href="/" class="page-link") Inicio
			li(class="page-item")
				a(href="#" class="page-link") Niños Oficiales
	div(class="wrap")
		div(class="store-wrapper")
			div(class="category_list")
				a(href="#" class="category_item" category="futbol") Fùtbol 
				a(href="#" class="category_item" category="nfl") Nataciòn
				a(href="#" class="category_item" category="adulto") Bebè
				a(href="#" class="category_item" category="baseball") Básquetbol
			section(class="products-list")
				div(class="product-item" category="futbol")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="futbol")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="futbol")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="all")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="baseball")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="baseball")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					a(href="#") POSER
				div(class="product-item" category="baseball")
					img(src=asset("/img_innova/Hombres/2.jpg"), alt="OLV")
					a(href="#") POSER